    footer#colophon {
    	background-color: #71c44c !important;
    }

    footer#colophon a.imprint {
      	color: white !important;
    }

    .site-content-contain {
    	background-color: #303b41 !important;
    }

    .site-content-contain .wrap{
    	background-color: white !important;
	    margin-left: 3em !important;
	    margin-right: 3em !important;
	    padding-top: 1em !important;
	}